.carrousel {
    position:fixed;
    left: 12.5vw;
    top: 12.5vh;
    width: 75vw;
    height: 50vh;
    background: springgreen;
    transform: scale(0);
    transition: transform 1s opacity 1s;
    z-index: 1;
}

.carrousel--ouvrir {

    transform: scale(1);
    opacity: 1;

}

.btn_fermer {
    position: absolute;
    right: 0;
    top: 0;
    width: 2rem;
    height: 2rem;
    z-index: 1;

}

.carrousel__figure{
    // position: relative;
}

.carrousel__figure__img{
    display: block;
    left: 0;
    object-fit: cover;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    // height: 100%;
    transition: opacity 1s;
}

.carrousel__figure__img--inactive{
    opacity: 0;

}
.carrousel__figure__img--activer{
    opacity: 1;

}

.carrousel__form{
    bottom: 0;
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 1;
    justify-content: center;

}